#navbar li {
    display: inline;
    padding: 10px;        
}

#navbar {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 10px;
    text-align: right;
}

#navbar li a {
    text-decoration: none;
    color: #575757;    
}

#navbar li a:hover {
    color: #000000;
}

.menu-image {
    width: 50%; /* Ajusta el tamaño según tus necesidades */
    height: auto;
}
    
.center-content{
    margin-left: auto;
    margin-right: auto;
}

.custom-alert {
    margin: 10px auto; /* Márgenes automáticos para centrar */
    max-width: 600px; /* Ancho máximo */
}

.card {
    height: 100%;   
    margin-bottom: 15px;
}

/* Ajuste de la altura de las imágenes en las cards */
.card-img-top {
    object-fit: cover;
    height: 200px; /* Ajusta según tus necesidades */
}